@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');

#root, html, body {
    margin: 0;
}

body {
    background-color: #111111;
    color: #f3f3f3;
    font-family: Commissioner, sans-serif;
}

hr {
    border-color: #f3f3f3;
}

input[type="color"] {
    width: 80px;
    height: 40px;
    background: none;
    cursor: pointer;
}